header {
  background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url("../../images/capybara-large.jpg");
  background-size: cover;
  background-position: center;
  color: white;
  padding: 200px 0;
}

.container {
  width: 900px;
  margin: auto;
}

.text-shadow {
  text-shadow: 1px 1px 3px rgb(0 0 0 / 20%);
}

.container h1 {
  font-size: 40px;
}

.container p {
  font-size: 20px;
  margin-bottom: 50px;
  color: rgb(163, 163, 163);
}